k8s-deployment/
.env

# H0llyW00dzZ server boring TLS 1.3 cert
boring-boring-boring.txt
boring-cert.pem
boring-key.pem

# H0llyW00dzZ cloudflare acm TLS 1.3 cert
acm-cloudflare.pem
acm-cloudflare-priv8.pem

# H0llyW00dzZ client boring TLS 1.3 cert
# Note: This won't work in browser, only in go
boring-client-cert.pem
boring-client-key.pem

# H0llyW00dzZ CA & RootCA TLS 1.3 cert
# Note: RootCA and CA are different. The RootCA's Priv8 key is bound to hardware, while "boring-ca.pem" does not contain any Priv8 key. 
# Additionally, RootCA or CA are not compatible with Trust Signed certificates (which are needed for browser compatibility) 
# because they are designed for private authorization purposes and are not self-signed (if they are self-signed it wouldn't work when using TLS go std library with InsecureSkipVerify false).
# List of Current Methods (Well-Known) that Work:
# - Cloudflare (see https://developers.cloudflare.com/ssl/origin-configuration/origin-ca/)
# - Cloudflare ACM (see https://developers.cloudflare.com/ssl/origin-configuration/custom-origin-trust-store/)
boring-ca.pem
boring-RootCA.pem

# Google Trust Service (Well-Known)
# Repo: https://pki.goog/repository/
gts-ca.pem
gts-RootCA.pem
