# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with "go test -c"
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
tmp/

# IDE specific files
.vscode
.idea

# .env file
.env

# Project build
main

# H0llyW00dzZ boring TLS 1.3 cert
boring-boring-boring.txt
boring-cert.pem
boring-key.pem

# H0llyW00dzZ cloudflare acm TLS 1.3 cert
acm-cloudflare.pem
acm-cloudflare-priv8.pem
