// Copyright (c) 2024 H0llyW00dz All rights reserved.
//
// License: BSD 3-Clause License

package site

var onceClientJSSide = templ.NewOnceHandle()

templ ScriptJSClientSide(cspRandom string) {
	@onceClientJSSide.Once() {
		<script src="/styles/js/tailwind.min.dark.js" nonce={ cspRandom }></script>
		<script src="/styles/js/htmx.indicator.min.js" nonce={ cspRandom }></script>
	}
}
